:root {
  --theme-color: rgba(214, 217, 235, 0.932);
  --primary-color: #124f88;
  --secundary-color: #ebb608;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #3A4460;
  --btncolor1: rgba(36, 59, 128, 0.986);
  --btncolor2: rgba(67, 67, 219, 0.493);
  --bodycolor1: white ;
  --bodycolor2:rgb(80, 108, 201);
  --point:rgb(219, 164, 12);
  --parrafos:rgb(68, 68, 68);
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 100px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, var(--bodycolor1) 0%, var(--bodycolor2) 100%);
  color: var(--text-color);
  padding-top: 70px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.horizontal-padding {
  padding-left: 25px;
  padding-right: 25px;
}
.vertical-padding {
  padding-top: 70px;
  padding-bottom: 25px;
}

.point{
  color: var(--point);
}

@media (min-width: 950px) {
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
  .vertical-padding {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}