.skills {
  max-width: 980px;
  margin: 0 auto;
}

.skills-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

.parrafo-servicios {
  font-size: 20px;
  font-weight:inherit;
  color: rgb(78, 9, 61);
  text-align: center;
  margin-top: 0;
  margin-bottom: 20;
}

.skills-skill {
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgb(130, 131, 226) 0%, rgb(210, 215, 216) 100%);
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
}

.serv-last {
  font-style: bold;
  color: rgb(33, 13, 150);
}
.skills-list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(min-width: 950px) {
  .skills-title {
    font-size: 50px;
  }
  
  .skills-skill {
    font-size: 30px;
    margin: 20px;
  }
}